
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.bannerText {
    margin-top: 200px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-size: 2.5em;
}

@media screen and (max-width: 440px) {
    .bannerText {
        font-size:  1.5em;
    }
}

.upCaseHeading h1, .upCaseHeading h2, .upCaseHeading h3, .upCaseHeading h4, .upCaseHeading h5, .upCaseHeading h6 {
    text-transform: uppercase;
}

.upcase {
    text-transform: uppercase;
}

.m1 {
    margin-top: 50px;
}

.fab {
    padding: 0;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    outline: none;
}

.divider {
    display: block;
    padding: 10px;
}

.dividerInner {
    display: inline-block;
}

.dividerSm .dividerInner {
    width: 25px;
    border-top: 1px solid #999;
    border-top-color: inherit;
}

.dividerMd .dividerInner {
    width: 45px;
    border-top: 1px solid #444;
}

.dividerLg .dividerInner {
    width: 100px;
    border-top: 2px solid #F57C26;
}

.h1 {
    font-size: 2.5em;
}

.h2 {
    font-size: 2em;
}

.h3 {
    font-size: 1.75em;
}

.h4 {
    font-size: 1.5em;
}

.h5 {
    font-size: 1.25em;
}

.h6 {
    font-size: 1em;
}