.navbar {
    transition: all 300ms ease;
}

/* .transparent {
    opacity: 0;
}

 */

 .scrollView {
     position: absolute;
     top: 60px;
     left: 0;
     right: 0;
     bottom: 0;
     overflow: auto;
 }

 .wrapper {
     overflow: hidden;
 }